.button1{
    border: 0.5px solid rgb(236, 236, 236);
    margin-bottom: 5px;
}

.button1:hover{
    background-color: whitesmoke;
    font-weight: normal;
}

.scrolss{
    overflow-y: scroll;
    overflow: scroll; 
        width: auto;
        height: auto; 
}

#output{
    overflow-y: scroll;
    overflow: scroll; 
        width: auto;
        height: 100px;
}

.chat{
    /* display: grid;
    grid-template-columns: 70%;
    justify-content: end;
    justify-items: end; */
    border-radius: 10px;

}